%div.masthead
  %div.container.d-flex.h-100.align-items-center
    %div.mx-auto.text-center
      %h1.mx-auto.my-0.text-uppercase Welcome to Lapstore.
      %p.text-black-50.mx-auto Where you can find all type of Laptops.
      %p.text-black-50.mx-auto Before moving ahead, you have to...
      = link_to 'Sign Up',  new_user_registration_path, class: "btn btn-primary js-scroll-trigger"
      = link_to 'Login',    new_user_session_path,      class: "btn btn-primary js-scroll-trigger"