.customer_view
  %h1.card-title.text-center Edit Customer
  = render 'form', customer: @customer
  %hr.my-4/
  %div{:align => "center"}
    = link_to 'Show', @customer, class: "btn btn-primary"
    = link_to 'Back', customers_path, class: "btn btn-primary"
