.laptop_view
  %h1.card-title.text-center Edit Laptop
  = render 'form', laptop: @laptop
  %hr.my-4
  %div{:align => "center"}
    = link_to 'Show', @laptop, 			class: "btn btn-primary"
    = link_to 'Back', laptops_path, class: "btn btn-primary"
